<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TektokPlay Demo</title>
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/semantic.min.css"
    />
  </head>
  <body>
    <div class="ui container">
      <article>
        <h1>Sample article</h1>
        <p><!-- empty paragraph --></p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure
          <a href="#">link to: #</a> velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <p id="p1">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation
          <a href="/test">link to: /test</a> consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <h2>Publisher tag</h2>

        <div id="video_id"></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation
          <a href="javascript:alert('ok')">link to: JS</a> nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <script src="mraid.js"></script>
        <link
          rel="stylesheet"
          href="https://sf-tb-sg.ibytedtos.com/obj/ad-pattern-sg/static/images/fallback/style.css"
        />
        <script>
          (window._track_show_ = JSON.parse(
            "[\x22https:\/\/s2s.adjust.com\/impression\/pz3399k?campaign=AJ_%E3%80%90ALL%E3%80%91%E3%83%9E%E3%82%AC%E3%82%B8%E3%83%B3%E3%83%9D%E3%82%B1%E3%83%83%E3%83%88%EF%BC%88%E3%82%AE%E3%83%A3%E3%83%B3%E3%82%B0%E3%82%AD%E3%83%B3%E3%82%B0%EF%BC%89_Android%261699968211637298\x26adgroup=%E3%80%90ALL%E3%80%9120210519_%E3%82%AE%E3%83%A3%E3%83%B3%E3%82%B0%E3%82%AD%E3%83%B3%E3%82%B0%E2%91%A0_And%261700159145022498-Pangle\x26creative=039448_1200x0628_210512153618.jpg%261700176698997778\x26s2s=1\x26idfa=\x26gps_adid=REMOVED\x26android_id=\x26ip_address=REMOVED\x26user_agent=Mozilla%2F5.0\x2b%28Linux%3B\x2bAndroid\x2b11%3B\x2bA004SH\x2bBuild%2FS0004%3B\x2bwv%29\x2bAppleWebKit%2F537.36\x2b%28KHTML%2C\x2blike\x2bGecko%29\x2bVersion%2F4.0\x2bChrome%2F86.0.4240.185\x2bMobile\x2bSafari%2F537.36\x26tiktok_callback_param=CKKomq-SyYIDEJL4y-HTyYIDGICRkZeLz7MBIICRkZeLz7MBKAAwDjjhwf_CA0IpYmI1OGZjNjQtYzNjNi00YjYwLTllOTUtN2IwNWFkMDc2MjQ1dTk3NjVIgNKTrQNQAFgBYAOgAQKqAQIxMQ\x26tiktok_install_callback=http%3A%2F%2Fapi16-callback-pack-va.pangle.io%2Ftrack%2Factivate%2F%3Fcallback%3DCKKomq-SyYIDEJL4y-HTyYIDGICRkZeLz7MBIICRkZeLz7MBKAAwDjjhwf_CA0IpYmI1OGZjNjQtYzNjNi00YjYwLTllOTUtN2IwNWFkMDc2MjQ1dTk3NjVIgNKTrQNQAFgBYAOgAQKqAQIxMQ%26os%3D0%26muid%3D\x22]" ||
              "[]"
          )),
            (window._track_download_event_ = JSON.parse(
              "[\x22https:\/\/api16-access-sg.pangle.io\/api\/ad\/union\/redirect\/?req_id=bb58fc64-c3c6-4b60-9e95-7b05ad076245u9765\x26ttdsp_adx_index=162\x26use_pb=1\x26rit=945807585\x26call_back=jLuLQ0Ck9ylk%2FQdnmY%2BBeBWxFQZuFGTr9SLbNZYhA%2FTtLWpgj1%2FP34p0VSlR7sa7%2BP12kNcNw1Hm%2B7Bnz0fjXZYY86%2Fel5jn4EUmZryf8zBwf2%2BrDG37HMHPSwEx4CMH\x26extra=fR24qls2ulHY309M8VJaDBJmoECVUrgBowgxuyFWx4fEKM98WcV2YWVyUWUvkcnSdtFbSzPlIKRW0mnkFNJtKBJsDbWP9UbHGmpFVmaQ2iWxiFZo3kJxZ%2Fs%2FgHhsSqj%2FwCtnXzlOCMmtwAuj6K5%2FBB5oXhz8KQ8jIaGNk2QfThLhcCzXhJi1nnvZQOwSA8%2FUHpuMrC2A9%2BTRfEkbYKRtaH%2BoNHP36orrBGbctKSldoUh%2BufLgV%2FtLpbnA6gem6mOIqFY%2BVFkvzlYtvKUb5o7rBBeqZbrrvM49JHJQ6QEUPVZe6nTkbbg5rfEAC%2B2xiT%2Bs0QQ9tJNI6YwmHnsA1xu38o9G6F6Uj2JF0PA4ffs%2F1qlHo%2FuvIflQBnPv3WfXfuW7UzH%2FH2tvz8Cn7Mt4MbeOsr8khmqi5VNYQ2B1jt%2FubJv35k3arwmUhhypfhpJEY%2Fm6eCePz2aDK1V5VZj7rYTcvVd1k96L9W36EENGRf1YeEPtkiKW3QstPGxvB%2FvT2RboSM5mFVupDUyGlsQisaCzj4zzHYiQQEDl7T%2FkoetCYW8vs0JBb7qXPe1PISVXW03xAlLu4Eqjs8INykaXpMcDlIQsl%2BmUsP9fQft0%2B4G%2FH0%2FhxVRdnR6rLQ2bPhmFBr6T15u36gZl1zvGHfRB9BscGWAcwidjd7vYohQkA8F3alEfcsP0cKF76abpRTPzUj6bGlo0%2FdQNNED88RO0QfBVICoiPeE%2B7NkY0ErTtlFSEyJlz0m3FYg0FFUR9mZOkfEfmRx0O84qfJY8GMZbo0q0F8pqBhS9R5IIYqcVyGsueYp3Q28afS5eIqY1F2pt8Ja1BSVN4FCzDZ%2FHOUHCGFx%2BNDFedg9WjRLClX%2FhC9OiBOCH88qfl%2Fc6LRKNSu3%2Bz%2BB7hVsqoTroYljOXwaYLhaM6%2FWjGs62%2BwNQxX0kv38%2BI%3D\x26source_type=1\x26pack_time=1622584836.64\x26active_extra=JxfVluXEpxZkc1vXlQsqc%2BrcQ1BcsVlfUVbTeyFpMIkyHv3%2FnEdglt8eQDCfh6KYBkf3lJ53Hw1nkHeYMJN06A%3D%3D\x26is_dsp=1\x22]" ||
                "[]"
            )),
            (window._download_link_ =
              "https:\/\/play.google.com\/store\/apps\/details?id=jp.co.kodansha.android.magazinepocket");
          window._image_url_ =
            "https:\/\/p0.ipstatp.com\/origin\/ad-union-i18n-api\/a6f57d671d4371648c94fe2629aec8e1";
        </script>
        <section class="pangle-banner-wrapper"></section>
        <script src="https://sf-tb-sg.ibytedtos.com/obj/ad-pattern-sg/static/dsp/zepto.min.js"></script>
        <script src="https://sf-tb-sg.ibytedtos.com/obj/ad-pattern-sg/static/images/fallback/banner.js"></script>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </p>

        <h2>Format v3 placement config</h2>

        <h2>Format v3 ad config</h2>

        <h2>Query Params</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </p>

        <p>&mdash;</p>
      </article>
    </div>
  </body>
</html>
